%h3.page-title Welcome to Webcat!
%p.light Gherkin on the cloud application.
%hr
%div
  .dashboard-intro-icon
    %i.icon-bookmark-empty
  %div
    %p.slead
      You don't have access to any projects right now.
      %br

    - if current_user.can_create_project?
      .link_holder
        = link_to new_project_path, class: "btn btn-new" do
          New project »

