/**
 * General Colors
 */
$primary_color: #2FA0BB;
$link_color: #3A89A3;
$style_color: #474D57;
$bg_style_color: #2299BB;
$list-group-active-bg: $bg_style_color;
$hover: #D9EDF7;
//** Border color for table and cell borders.
$table-border-color: #555;

/**
 * Commit Diff Colors
 */
$added: #63c363;
$deleted: #f77;

$container-large-desktop: 1200px !default;

